

    body{
        height: 100%;
        width: 100%;
        font-family: Arial, Helvetica, sans-serif;
        text-align: center;
        background: url(mario-bg.jpg);
    }

    #board{
        width: 640px;
        height: 640px;
       background: url(soil.png);
       background-size: cover;
       border: 3px solid white;
       border-radius: 25px;

        margin: 0 auto ;
        display: flex;
        flex-wrap: wrap;
    }

    #board div{
        width: 210px;
        height: 210px;
        background-image: url(pipe.png);
        background-size: cover;

    }
    #board div img{
        width: 130px;
        height: 130px;
    }